{% load static %}
{% load sc_django_tags %}

<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{% static "wagtailvisualdiff/main.js"  %}"></script>
		<meta charset="utf-8">
		<title>Visual Comparison for MKE</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body>
		<div>
			<section role="main">
				<div id="image-diff" class="col-sm-7" style="position:relative; overflow:hidden;">
					<h1 id="loading">LOADING. Refresh if nothing happens after 10 seconds</h1>
					<img id="diff1" class="diffimg" style="position:absolute;">
					<h2 id="identical" style="display:none;">No visible changes</h2>
				</div>
				<div id="image-diff2" class="col-sm-3" style="position:relative; overflow:hidden;">
					<img id="diff2" class="diffimg" style="position:absolute;">
					<h2 id="identical2" style="display:none;">No visible changes</h2>
				</div>


				{% if show_all %}
					<div class="col-sm-2">
						<div class="btn-group btn-group-xs buttons" style="display:none; margin-top:1em;">
							<button class="btn btn-primary active" id="raw">Ignore nothing</button>
							<button class="btn btn-default" id="colors">Ignore colors</button>
							<button class="btn btn-info" id="antialising">Ignore antialiasing</button>
						</div>

						<div class="btn-group btn-group-xs buttons" style="display:none; margin-top:1em;">
							<button class="btn btn-primary active" id="original-size">Use original size</button>
							<button class="btn btn-primary" id="same-size">Scale to same size</button>
						</div>


						<div class="btn-group btn-group-xs buttons" style="display:none; margin-top:1em;">
							<button class="btn btn-danger active" id="pink">Pink</button>
							<button class="btn btn-warning" id="yellow">Yellow</button>
						</div>

						<div class="btn-group btn-group-xs buttons" style="display:none; margin-top:1em;">
							<button class="btn btn-primary" id="flat">Flat</button>
							<button class="btn btn-primary" id="movement">Movement</button>
							<button class="btn btn-primary" id="flatDifferenceIntensity">Flat with diff intensity</button>
							<button class="btn btn-primary active" id="movementDifferenceIntensity">Movement with diff intensity</button>
						</div>

						<div class="btn-group btn-group-xs buttons" style="display:none; margin-top:1em;">
							<button class="btn btn-info" id="opaque">Opaque</button>
							<button class="btn btn-default active" id="transparent">Transparent</button>
						</div>

						<div id="diff-results" style="display:none; margin-top:1em;">
							<p>
								<strong>Desktop: The second image is <span id="mismatch"></span>% different compared to the first.
								<span id="differentdimensions" style="display:none;">And they have different dimensions.</span></strong>
							</p>
						</div>
						<div id="diff-results2" style="display:none;">
							<p>
								<strong>Mobile: The second image is <span id="mismatch2"></span>% different compared to the first.
								<span id="differentdimensions2" style="display:none;">And they have different dimensions.</span></strong>
							</p>
						</div>

						<p id="thesame" style="display:none;">
							<strong>Desktop: These images are the same!</strong>
						</p>
						<p id="thesame2" style="display:none;">
							<strong>Mobile: These images are the same!</strong>
						</p>
						<a href="#changes" id="down" style="display:none;">
							<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							<span>Scroll to Changelog</span>
						</a>
					</div>

				{% else %}
					<div id="diff-results" style="display:none; margin-top:1em;">
						<h1></br>Desktop: <span id="mismatch"></span>% Difference</h1>

					</div>
					<div id="diff-results2" style="display:none;">
						<h1>Mobile: <span id="mismatch2"></span>% Difference</h1>
					</div>
					<a id="down" style="display:none;"></a>
				{% endif %}



				{% if show_all %}
					<div class="col-sm-12"><h1 id="changes">Page: <a href="{{revision1.page_revision.page.url}}">{{ revision1.page_revision.page }}</a></h1></div>
					<div class="col-sm-6">
						<p id="title1">Revision {{ revision1.page_revision.id }} published by {{revision1.page_revision.user.get_full_name}} on {{revision1.page_revision.created_at}} -
							<a href='{% url 'wagtailadmin_pages:revisions_view' revision1.page_revision.page.id revision1.page_revision.id %}' target='blank'>Preview</a> or
							<a href='{% url 'wagtailadmin_pages:revisions_revert' revision1.page_revision.page.id revision1.page_revision.id %}' target='blank'>Edit</a>
						</p>
					</div>
					<div class="col-sm-6">
						<p id="title2">Revision {{ revision2.page_revision.id }} published by {{revision2.page_revision.user.get_full_name}} on {{revision1.page_revision.created_at}} -
							<a href='{% url 'wagtailadmin_pages:revisions_view' revision2.page_revision.page.id revision2.page_revision.id %}' target='blank'>Preview</a> or
							{% if revision2.page_revision == revision2.page_revision.page.get_latest_revision %}
                                <a href="{% url 'wagtailadmin_pages:edit' revision2.page_revision.page.id %}" target='blank'>Edit</a>
                            {% else %}
								<a href='{% url 'wagtailadmin_pages:revisions_revert' revision2.page_revision.page.id revision2.page_revision.id %}' target='blank'>Edit</a>
                            {% endif %}
						</p>
					</div>

					<div class="col-sm-12">

						{% if difference|length > 0 %}
							{% for key, values in difference.items %}
								{% if values.1.type and not values.0.type %}
								<div class="panel panel-success">
								{% elif values.0.type and not values.1.type %}
								<div class="panel panel-danger">
								{% elif values.0.type and values.1.type %}
								<div class="panel panel-info">
								{% else %}
								<div class="panel panel-default">
								{% endif %}
									<div class="panel-heading">
	    								<h3 class="panel-title">
	    									Block {{ key }}:
											{% if values.1.type %}
												{{ values.1.type }}
											{% else %}
												{{ values.0.type|to_space }}
											{% endif %}
										</h3>
	  								</div>
	  									<table class="table">
	  										<tr>
	  											<th class="col-sm-6">Version {{ revision1.page_revision.id }}</th>
	  											<th class="col-sm-6">Version {{ revision2.page_revision.id }}</th>
	  										</tr>
		  									<tr>
		  										<td class="col-sm-6" style="padding:0;">
		  											{% if values.0.value.items|length != 0 %}
														<table class="table table-striped" style="margin-bottom:0px; table-layout: fixed;">
															{% for field, content in values.0.value.items%}
																<tr>
																	<td class="col-sm-3">
																		{{ field|to_space }}
																	</td>
																	<td class="danger col-sm-9">
																		{{ content|linebreaks }}
																	</td>
																</tr>

															{% endfor %}
														</table>
													{% else %}
														<h1 style="text-align: center;">NEW BLOCK</h1>
													{% endif %}

												</td>
												<td class="col-sm-6" style="padding:0;">
													{% if values.1.value.items|length != 0 %}
														<table class="table table-striped" style="margin-bottom:0px; table-layout: fixed;">
															{% for field, content in values.1.value.items%}
																<tr>
																	<td class="col-sm-3">
																		{{ field|to_space }}
																	</td>
																	<td class="success col-sm-9">
																		{{ content|linebreaks }}
																	</td>
																</tr>

															{% endfor %}
														</table>
													{% else %}
														<h1 style="text-align: center;">DELETED</h1>
													{% endif %}
												</td>
											</tr>
										</table>
								</div>


							{% endfor %}

						{% endif %}

						{% if difference|length == 0 %}
							<h2>
								No Fields have changed between these Revisions
							</h2>
						{% endif %}
					</div>
					<div class="col-sm-6" id="img_frame">
						<img id="image1" style="vertical-align:top;" src="{{ revision1.screenshot.url }}" crossorigin="anonymous">
						<img id="image1_mobile" style="vertical-align:top;" src="{{ revision1.mobile_screenshot.url }}" crossorigin="anonymous">
					</div>
					<div class="col-sm-6" id="img_frame2">
						<img id="image2" style="vertical-align:top;" src="{{ revision2.screenshot.url }}" crossorigin="anonymous">
						<img id="image2_mobile" style="vertical-align:top;" src="{{ revision2.mobile_screenshot.url }}" crossorigin="anonymous">
					</div>
				</section>
				<footer class="footer col-xs-12">
					<p>
						Based on resemble.js by <a href="https://github.com/jamescryer" target="_blank">James Cryer</a> and the Huddle development team.
					</p>
				</footer>

				{% else %}
					<div class="col-sm-6" id="img_frame" hidden>
						<img id="image1" style="vertical-align:top;" src="{{ revision1.screenshot.url }}" crossorigin="anonymous">
						<img id="image1_mobile" style="vertical-align:top;" src="{{ revision1.mobile_screenshot.url }}" crossorigin="anonymous">
					</div>
					<div class="col-sm-6" id="img_frame2" hidden>
						<img id="image2" style="vertical-align:top;" src="{{ revision2.screenshot.url }}" crossorigin="anonymous">
						<img id="image2_mobile" style="vertical-align:top;" src="{{ revision2.mobile_screenshot.url }}" crossorigin="anonymous">
					</div>
				</section>
				{% endif %}


		</div>
		<script src="{% static "wagtailvisualdiff/resemble.js" %}"></script>
	</body>
</html>